.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-card {
    max-width: 500px; /* Aumenta el ancho máximo */
    width: 100%;
    background-color: #212529; 
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    color: #fff;
    overflow: hidden; /* Evita que el contenido se desborde */
}

.login-card-header {
    padding: 1rem; /* Ajusta el padding */
    text-align: center;
}

.login-card-body {
    padding: 2rem;
}

.login-card-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #fff;
}

.login-form {
    margin-bottom: 1.5rem;
}

.login-form-label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

a {
    color: #4285f4;
    text-decoration: none;
    transition: all 0.4s ease;
    display: inline-block;
}

a:hover {
    color: #f4f8f5;
    transform: 1s;
    font-size: larger;
}

@media (max-width: 768px) {
    .login-card {
        max-width: 100%;
    }
}
